<div
  href="#"
  class="mt-6 rounded-tl-2xl rounded-br-2xl shadow-xl overflow-hidden bg-red-600 transform hover:-translate-y-2 hover:shadow-2xl transition duration-300 cursor-pointer"
>
  <div class="relative">
    <div class="w-full h-64 bg-red-300"></div>
    <div class="absolute w-full h-5 bottom-0 bg-secondary bg-clip"></div>
  </div>
  <div class="p-8">
    <h3 class="text-3xl mb-2">Game Highlighting Clip</h3>
    <p>
      Pepe López &#183;
      <span class="text-gray-400">April 11, 2022</span>
    </p>
  </div>
</div>
