<header id="header" class="bg-secondary">
  <nav class="container mx-auto flex justify-start items-center py-8 px-4">
    <a
      class="text-3xl text-violet-400 font-bold uppercase mr-4"
      href="index.html"
      >Clipit</a
    >
    <div class="flex flex-grow items-center">
      <ul class="flex flex-row mt-1">
        <li>
          <a class="px-2" href="#">Login / Register</a>
        </li>
        <li>
          <a class="px-2" href="#">Manage</a>
        </li>
        <li>
          <a class="px-2" href="#">Upload</a>
        </li>
        <li>
          <a class="px-2" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
