@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-secondary {
  background-color: #410257;
}

.bg-gradient {
  background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
  background-size: 400% 400%;
}

.cube {
  position: absolute;
  bottom: 10%;
  left: 45%;
  width: 10px;
  height: 10px;
  border: solid 1px #fff;
  transform: scale(0) rotate(0deg);
  animation: cube 8s ease-in forwards infinite;
}

.cube:nth-child(2) {
  animation-delay: 1s;
  left: 25%;
  top: 40%;
}
.cube:nth-child(3) {
  animation-delay: 2s;
  left: 80%;
  top: 50%;
}
.cube:nth-child(4) {
  animation-delay: 3s;
  left: 90%;
  top: 10%;
}
.cube:nth-child(5) {
  animation-delay: 4s;
  left: 10%;
  top: 50%;
}
.cube:nth-child(6) {
  animation-delay: 5s;
  left: 50%;
  top: 10%;
}

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg);
    opacity: 0;
  }
}
