@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --main-color: #300241;
  --secondary-color: #430e6b;
} */
:root {
  --main-color: #421c52;
  --secondary-color: #732c7b;
}

body {
  background-color: var(--main-color);
}

.bg-primary {
  background-color: var(--main-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.latest {
  grid-template-columns: 1fr auto 1fr;
}

.latest:after,
.latest:before {
  content: " ";
  display: block;
  border-bottom: 3px solid #fff;
}
